/* Autocracy Admin CSS */

body {
	color:#464646;
}

h1,h2,h3,h4,h5,h6 {
	color: #7e1619;
	font-weight: normal;
}

h3 {
	font-size: 18px;
}

label {
	clear: both;
	display: block;
}

input[type=text] {
	clear: both;
	display: block;
	width: 100%;
}

textarea {
	resize:none;
	width: 420px;
	min-height: 120px;
	display: block;
	width: 100%;
}

label {
	display: inline-block;
	vertical-align: top;
	min-width: 150px;
}

.module-fullwidth {
	font-size: 0px;
}

.module-fullwidth input[type=text] {
	clear:none;
	display: inline;
}

.module-third {
	width: 33.333%;
	display: inline-block;
	vertical-align: top;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
}

.module-third:first-of-type {
	padding-left:0px;
	padding-right: 20px;
}

.module-third:last-of-type {
	padding-left: 20px;
	padding-right: 0px;
}

.module-half {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
}

.module-half:first-of-type {
	padding-left:0px;
	padding-right: 20px;
}

.module-half:last-of-type {
	padding-left: 20px;
	padding-right: 0px;
}

.panel-nav {
	width: 100%;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	background-color:#343533;
	padding:10px;
	text-align: center;
	color: #fff;
	position: relative;
}

.panel-nav h2 {
	font-size: 36px;
	margin:20px;
	color: #fff;
}

.panel-nav ul {
	font-size: 16px;
	text-align: center;
	padding:0px;
}

.panel-nav ul li {
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
}

.panel-nav img {
	max-height: 64px;
}

.panel {
	display: none;
}

.selected {
	display: block;
}

.close-button {
	position: absolute;
	right: 0px;
	top:0px;
	background-color: #fff;
	color:#7e1619;
	padding:16px;
	font-size: 16px;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
}